/* fonts */
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* setting to zero*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}




body{
    width: 100%;
    background-color: #F8F8F8;
}

.header{
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    background-color: #fff;
}
.container__header {
    display: none;
}
@media(min-width: 1120px){
    .header{
       display: none;
    }
}

.container1{
    display: flex;
    flex-direction: row;
    width: 160px;
    
}
@media(min-width: 1120px){
    .container1{
        display: none;
    }
}
.container2{
    width: 160px;
}

.header__burger {
   display: flex;
   justify-content: flex-start;
}

.header__logo{
    position: relative;
    margin-left: 10px;
}
@media(min-width: 768px){
    .header__logo::before{
        content: "";
        background-image: url(../img/divider.svg);
        display: block;
        position: absolute;
        width: 2px;
        height: 32px;
        left: 0;
        top: 10px;  
    }

}
.header__nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
} 
.call, .chat, .profile {
    display: none;

}
.container__main{
    display: none;
}
@media(min-width: 768px){
    .call, .chat, .profile{
        display: block;
    }
    .container__main{
        display: none;
    }
}
@media(min-width: 1120px){
    .call, .chat, .profile{
        display: none;
    }
}
.header__nav>li{
    margin-left: 16px;
}  

.divided{
    position: relative;
    padding-left: 50px;
}

.divided::before{
    content: "";
    background-image: url(../img/divider.svg);
    display: block;
    position: absolute;
    width: 2px;
    height: 32px;
    left: 20px;
    top: 5px;
}
@media(min-width: 1120px){
    .divided::before{
        display: none;
    }
}
.main{
    margin: 0 auto;
    width: 100%;
    height: 550px;
    background-color: #F8F8F8;
    padding-right: 24px;
    box-sizing: border-box;
    padding-left: 24px;
}

.container3__hidden{
    display: none;
}
@media(min-width: 1120px){
    .container3__hidden{
        display: flex;
        flex-direction: row;
        
    }
    .h1{
        display: none;
    }
    .container__main{
        display: flex;
        justify-content: space-between;
    }
    .container__main>h1{
        padding: 40px;
    }
    .container3__hidden{
        padding-top: 42px;
        padding-right: 42px;
    }
    .repair__hidden-text{
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #1B1C21;
        padding-right: 10px;
        
    }
    a.repair__hidden{
       padding-right: 32px; 
    }
}
h1{
    font-family:'TT Lakes Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    padding-top: 24px;
    position: relative;
}
h1::before{
    content:"" ;
    background-image: url(../img/highlight.png);
    display: block;
    width: 4px;
    height: 40px;
    position: absolute;
    left: -23px;
    

}


.main__nav{
    padding-top: 40px;
    list-style-type: none;
    display: flex;
    overflow: scroll;
}


.main__nav>li{
    text-decoration: none;
    margin-left: 25px;
    font-family:  'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82 ;
}

.main__nav>li:first-child{
    margin-left: 0;
}

.main__nav>li>a{
    text-decoration: none;
    color: #7E7E82 ;
}

.main__nav_selected{
    width: 248px;
    height: 36px;
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    text-align: center;
    padding-top: 3px;
    margin-top: -10px;
    margin-bottom: 24px;
    

}

.main__column{
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px){
    .main__column{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.main__column-text{
    font-family: 'TT Lakes Regular',sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 160px;
    color: #1B1C21;
    
}
.p_hidden{
    display: none;
}
@media(min-width: 768px){
    .p_hidden{
        display: block;
    }
}
@media(min-width: 1120px){
    .p_hidden{
        display: block;
    }
    .main__column{
        width: 100%;
    }
    .main__column-text>p{
        text-align: justify;
    }
    .main__column-text{
        width: 45%;
    }
    .main__column-picture{
        width: 50%;
    }
    .main__column-text1::before{
        content: "Отзывы";
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 24px;
        color: #7E7E82;
    }
    .main__nav{
        padding-top: 40px;
        list-style-type: none;
        display: flex;
}
.main__column-picture>img{
    margin-left: 0 ;
    width: 320px;
}
@media(min-width: 768px){
    .main__column-picture>img{
        width: 360px;
    } 
}
@media(min-width: 1120px){
    .main__column-picture>img{
        width: 500px;
        height: 300px;

}
    h3{
        margin-top: 24px;
        padding-left: 20px;
        position: relative;
}



    h3::before{
        content: ""; 
        background-image: url(../img/icon.svg); 
        display: block; 
        position: absolute; 
        width: 8px; 
        height: 11px; 
        left: 0;         
}
